<!DOCTYPE html>
<html>
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div id="container">{{{body}}}</div>
    <div id="initialData" style="display:none">{{initialData}}</div>
    <script type="text/javascript" src="{{appScript}}"></script>
  </body>
</html>

